$recipeFontSize: 15px;
$indexPhotoMaxheight: 300px;
$indexPhotoMaxwidth: 300px;
$small:  "only screen and (max-width:640px)";



.menu_name{
  text-align: center;
  background-color: #FFFFF0;
  border: 1px solid  #C1C1C1;
}

.index_margin{
  margin: 2%;
  .index_temp{
    background-color: #F2B16A;
    border: 1px solid  #C1C1C1;
    float: left;
    margin: 1%;
    width: 47%;
    max-width: $indexPhotoMaxwidth;

    .index_time{
      font-size: x-small;
    }
    .index_photo{
      position: relative;
      height: $indexPhotoMaxheight;
      @media #{$small} {
        height: $indexPhotoMaxheight / 2;
        img{
          max-height: $indexPhotoMaxheight / 2;
        }
      }
      margin: 0 auto;
      img{
         max-width: 100%;
         display: block;
         margin-left: auto;
         margin-right: auto;
      }

      .index_category{
        position: absolute;
        font-size: x-small;
        right: 0px;
        background-color: white;
        border: 1px solid  #C1C1C1;
      }
      .index_about{
        background-color: rgba( 250, 240, 230, 0.7 );
        width: 100%;
        position: absolute;
        bottom: 0px;
        .index_title{
          overflow: hidden;
          font-weight: bold;
          height: 1.5em;
        }
        .index_summary{
          overflow: hidden;
          height: $recipeFontSize * 2;
          line-height: $recipeFontSize;
          font-size: $recipeFontSize;
        }
      }
      .linktxt{
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
      }
    }
  }

}

