

.image_new{
  opacity: 0.2;
}

.form_new{
  // -webkit-appearance: none;
  border:none;
  margin-left: 0.5em;
  // margin-right: 10px;
  // width: 100%;
  font-size: 1em;
  background-color: rgba(0,0,0,0)
}