.new{

  .new_table{
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  textarea{
    border:none;
    margin: 0.5em;
    background-color: white;
    font-size: large;
    width: 95%;
    height: 3em;
  }

  h2{
    margin: 0;
    font-size: large;
  }

}

.ingredients_table{
}
.form-control_step{
  font-size: 2px;
  width: 15px;
}


.image_new{
  opacity: 0.2;
}

.form_new{
  // -webkit-appearance: none;
  border:none;
  margin-left: 0.5em;
  // margin-right: 10px;
  // width: 100%;
  font-size: 1em;
  background-color: rgba(0,0,0,0)
}