$maxWidth: 500px;
textarea{
  max-width: $maxWidth * 0.95;
}

.detail{
  max-width: $maxWidth;
}

.detail_photo{
  .detail_photo_flame{
    position: relative;
    img{
      width: 100%;
      max-width: $maxWidth;
      height: auto;
    }
    h1{
      width: 100%;
      bottom: 0px;
      position: absolute;
      color: #6B3E08;
      background: -webkit-gradient(linear, left top, left bottom,from(rgba(252,255,234,0.7)),to(#FCFFEA));/* Safari,Google Chrome用 */
    }

  }
  p{
      font-size: large;
      font-style: oblique;
    }
}

.detail_list{
  margin: 5px;

  .detail_ingredients_table{
    width: 100%;
    border-collapse: collapse;
    td{
      background-color: #fff;
      border-width: 1px 0px; /* 上下だけ引く */
      border-color: #b9b9b9; /* 線色：緑 */
      border-style: solid; /* 線種：実線 */
      padding: 0.3em; /* セル内側の余白 */

      img{
        width: 100%;
        max-width: $maxWidth;
        height: auto;
      }
    }
  }
}

.detail_tag{
  h3{
    // margin: 0;
  }
}

