カテゴリshow.html.erb
<p></p>
<tbody>
  <% nested_set_options(@categories) { |i| "#{'–' * i.level} #{i.name}" }.each do |name, id| %>
    <tr>
      <td><%= name %></td><p></p>
      <td><%= link_to 'Show', category_path(id) %></td>
      <td><%= link_to 'Edit', edit_category_path(id) %></td>
      <td><%= link_to 'Destroy', category_path(id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>