<!DOCTYPE html>
<html>
<head>
  <title>Saigen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="globalnav__menu">
    <nav class="globalnav">
      <ul class="gmenu">
        <li class="logo" style="float: left">
          <a href="/">SAIGEN</a>
        </li>
      </ul>
    </nav>
  </div>

<%= yield %>

</body>
</html>
